@media(max-width: 1020px){
  .submenu{
    display: none;
  }



  .footer{
    &__img{
      display: none;
    }
  }
}

@media(max-width: 900px){
  .slider{
    &__item-title{
      font-size: 25px;
    }
  }
}